* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../images/appointment_background.jpg');
    background-size: cover;
    color: #18181b;
}

#navbar{
    width: 100%;
    background-color: rgba(240, 248, 255, 0.267); 
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    